# project
cheatsheet/
docs/

# workspace
**.code-workspace

# Rust
**/target
# C => Rust bindings
avr-specs
.cargo

# Platform IO
.pio
**/.vscode
# todo: Remove this for add the correct paths (on the PlatformIO project)
**/include
**/test