# project
cheatsheet/
docs/00-main.docx
docs/lora-tracker.canvas

lora-tracker.code-workspace

# Rust
**/target
# C => Rust bindings
avr-specs
.cargo


# Plarform IO
.pio
**/.vscode
# todo: Remove this for add the correct paths (on the PlatformIO project)
**/include
**/test
