# do not import docs/
docs/*
!docs/00-*
# ignore scripts that starts with '0x'
**/0x*

**/target

# C => Rust bindings
avr-specs
.cargo

# Plarform IO
.pio
**/.vscode
# todo: Remove this for add the correct paths (on the PlatformIO project)
**/include
**/lib
**/test

cheatsheet/
